outputs/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
wheels/

# Virtual environments
.venv/
venv/
env/
ENV/
.env

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# Distribution / packaging
MANIFEST

# Unit test / coverage
.tox/
.coverage
.coverage.*
.cache
htmlcov/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/

# arquivos
*csv
*txt
*.parquet
*.h5ad